In [1]:
import numpy as np

In [8]:
# data types
# ints vs. floats
c = 7
d = 7.0
print(c, d)
print(type(c))
print(type(d))

for i in range(c):
    print(i)

7 7.0
<class 'int'>
<class 'float'>
0
1
2
3
4
5
6

In [11]:
firstName = "Adib"
lastName = "Mohsin"
firstName + " " + lastName

'Adib Mohsin'

In [13]:
c * d

49.0

In [15]:
firstName * 3

'AdibAdibAdib'

In [17]:
%whos

Variable    Type      Data/Info
-------------------------------
c           int       7
d           float     7.0
firstName   str       Adib
i           int       6
lastName    str       Mohsin
np          module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>

In [19]:
# Lists
# numpy arrays

aList = [0, 1, 2, 3, 4, 5]
sList = ["0", "1", "2", "3", "4", "5"]
type(aList)

list

In [20]:
aList + sList

[0, 1, 2, 3, 4, 5, '0', '1', '2', '3', '4', '5']

In [21]:
aList*3

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [22]:
aList_np = np.array(aList)
print(type(aList))
print(type(aList_np))

<class 'list'>
<class 'numpy.ndarray'>

In [23]:
aList_np * 3

array([ 0,  3,  6,  9, 12, 15])

In [26]:
list(aList_np * 3)

[0, 3, 6, 9, 12, 15]

In [28]:
aList_np.T

array([0, 1, 2, 3, 4, 5])

In [37]:
listlist = [
    3,
    ['3', '4', '5'],
    5.5,
    [4,5,6]
]

for i in range(len(listlist)):
    print(f"List element {i} is {listlist[i]} and is type {str(type(listlist[i]))[8:][:-2]}")

List element 0 is 3 and is type int
List element 1 is ['3', '4', '5'] and is type list
List element 2 is 5.5 and is type float
List element 3 is [4, 5, 6] and is type list

In [38]:
s = "Mike"
for i, letter in enumerate(s):
    print(i, letter)

0 M
1 i
2 k
3 e